#app {
  background-image: url(./images/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textStart {
  text-align: start !important;
}
.fontBold {
  font-weight: 800 !important;
}

.card {
  max-width: 500px;
  margin: auto;
}

/* form .btn {
      color: rgb(60, 58, 58);
    } */

/* form .btn :hover {
      color: white !important;
      border: 1px solid rgb(60, 58, 58) !important;
    } */

/* .form-group label,
    .text-muted {
      color: white !important;
    } */

.open-link {
  /* color: #b8b8b8; */
  text-decoration: underline;
  color: orange;
  font-weight: 600 !important;
  margin-left: 4px;
}

.open-link:hover {
  cursor: pointer;
}

.error {
  color: tomato;
  margin-top: 4px;
  margin-bottom: 4px;
}

.dropdown-menu.show {
  left: -286px !important;
  top: -4px !important;
  width: max-content !important;
  padding: 10px 20px !important;
}

.chat-messages {
  max-height: 600px;
  overflow-y: scroll;
}

.chat-window {
  /* border: 1px solid grey; */
  border-radius: px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11998e;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* --------------- */

input:focus {
  border-color: #119972 !important;
}

/* --------------Btn---------------- */

.btn {
  border: none !important;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.animated-btn {
  color: white;
  border: none;
  box-shadow: 4px 4px 12px black;
  transition: all 0.3s ease-out;
  background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
  background: linear-gradient(to top, #11998e, #38ef7d);

  &:active {
    color: white;
    box-shadow: 1px 1px 4px black;
    // background: #11998e;
    // background: -webkit-linear-gradient(to bottom, #11998e, #38ef7d);
    // background: linear-gradient(to bottom, #11998e, #38ef7d);
  }

  svg {
    // &:active {
    //   border: none !important;
    //   outline: none !important;
    // }
    &:hover {
      border: none;
    }
  }
}

// -0---------------------------------

hr {
  background: white;
  height: 8px;
  opacity: 99;
  border: 1px solid green;
}

.messege-tem-wrap {
  /* border: 2px solid #38ef7d; */
  border: 4px solid white;
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 16px 0;
  background-image: url(../assets/images/message-item1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #38ef7d; */
  background-color: #00e155;
}

.texting-wrap {
  padding: 15px;
  border-radius: 16px;
  background-image: url(../assets/images/message-item1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #38ef7d; */
  background-color: #00e155;
}
